/* WhatsAppButton.css */


/* Container for the WhatsApp button */

.whatsapp-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /* Adding responsiveness with media queries */
}


/* Responsive image styling */

.responsive-img {
    width: 170px;
    /* Default size, adjust as needed */
    height: auto;
    cursor: pointer;
}


/* Responsive styles for smaller screens */

@media screen and (max-width: 768px) {
    .whatsapp-button-container {
        bottom: 25px;
        /* Adjusted position for smaller screens */
        right: 15px;
    }
    .responsive-img {
        width: 150px;
        /* Smaller size for mobile devices */
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button-container {
        bottom: 20px;
        /* Adjusted position for very small screens */
        right: 10px;
    }
    .responsive-img {
        width: 150px;
        /* Even smaller size for very small screens */
    }
}