/* WhatsAppButton.css */

.whatsapp-button-container {
    position: fixed;
    bottom: 20px;
    /* Adjust this value to move the button up or down */
    right: 20px;
    /* Adjust this value to move the button left or right */
    z-index: 1000;
    /* Ensure the button is on top of other content */
}

.responsive-img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    /* Optional: Adds a pointer cursor on hover */
}